	html {
		background-color: rgba(0,0,0,1);
	}
	body {
		font-family: 'Helvetica Neue', sans-serif;
	}
	.input {
		border: 0;
		background-color: rgba(0,0,0,0);
		width: 500px;
		height: 250px;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 200px;
		font-weight: 200;
		color: rgba(255, 255, 255, 0.3);
	}
	.text-fade {
		width: 1px;
		height: 250px;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;
		/*left to right gradient*/
		-webkit-box-shadow: 10px 10px 250px 250px rgba(0,0,0,0.7);
		-moz-box-shadow: 10px 10px 250px 250px rgba(0,0,0,0.7);
		box-shadow: 10px 10px 250px 250px rgba(0,0,0,0.7);
	}
	.input:focus {
		outline: none;
	}
	.light {
			width:0px;
			height:0px;
			margin: auto;
			border-radius:50%;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
	}
	.red {
		-webkit-animation: flex 4s;
		-moz-animation:    flex 4s;
		-o-animation:      flex 4s;
		animation:         flex 4s;
		-webkit-box-shadow: 0px 0px 200px 30px rgba(255,0,0,0.9);
		-moz-box-shadow: 0px 0px 200px 30px rgba(255,0,0,0.9);
		box-shadow: 0px 0px 200px 30px rgba(255,0,0,0.9);
	}
	.green {
		-webkit-animation: flex 4s;
		-moz-animation:    flex 4s;
		-o-animation:      flex 4s;
		animation:         flex 4s;
		-webkit-box-shadow: 0px 0px 200px 30px rgba(0,255,0,0.9);
		-moz-box-shadow: 0px 0px 200px 30px rgba(0,255,0,0.9);
		box-shadow: 0px 0px 200px 30px rgba(0,255,0,0.9);
	}
	.white {
		-webkit-animation: flex 4s;
		-moz-animation:    flex 4s;
		-o-animation:      flex 4s;
		animation:         flex 4s;
		-webkit-box-shadow: 0px 0px 200px 30px rgba(255,255,255,0.9);
		-moz-box-shadow: 0px 0px 200px 30px rgba(255,255,255,0.9);
		box-shadow: 0px 0px 200px 30px rgba(255,255,255,0.9);
	}
	/*Animations - - - - - - - - - - */
	@keyframes flex {
		0%,100% {
			transform: scale(1);
			opacity: 0;
			background-color: none;
		}
		50% {
			transform: scale(1.2);
			opacity: 1;
		}
	}
	@-webkit-keyframes flex {
		0%,100% {
			-webkit-transform: scale(1);
		}
		50% {
			-webkit-transform: scale(1.1);
		}
	}
